<a href="https://colab.research.google.com/github/sanae-a11y/AI/blob/main/CreditScoring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Credit Scoring Application - Decision tree learning**:

---



---

**Importing the librairies**

In [46]:
import matplotlib.pyplot as plt
from numpy import *
import pandas as pd

**Import the dataset**

In [41]:
file = pd.read_csv("CreditScoring.csv")

**Understanding the data**

In [43]:
file

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5955,0,88900,57264.0,90185.0,DebtCon,Other,16.0,0.0,0.0,221.808718,0.0,16.0,36.112347
5956,0,89000,54576.0,92937.0,DebtCon,Other,16.0,0.0,0.0,208.692070,0.0,15.0,35.859971
5957,0,89200,54045.0,92924.0,DebtCon,Other,15.0,0.0,0.0,212.279697,0.0,15.0,35.556590
5958,0,89800,50370.0,91861.0,DebtCon,Other,14.0,0.0,0.0,213.892709,0.0,16.0,34.340882
5959,0,89900,48811.0,88934.0,DebtCon,Other,15.0,0.0,0.0,219.601002,0.0,16.0,34.571519

In [7]:
file.shape

(5960, 13)

In [14]:
data_types

BAD          int64
LOAN         int64
MORTDUE    float64
VALUE      float64
REASON      object
JOB         object
YOJ        float64
DEROG      float64
DELINQ     float64
CLAGE      float64
NINQ       float64
CLNO       float64
DEBTINC    float64
dtype: object

In [60]:
#descriptive statistics
description= file.describe(include='all') # to get the basic summary of all the numeric columns and frequency distribution of all the categorical columns.
description

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
count,3364.000000,3364.000000,3364.000000,3364.000000,3364,3364,3364.000000,3364.000000,3364.000000,3364.000000,3364.000000,3364.00000,3364.000000
unique,NaN,NaN,NaN,NaN,2,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,DebtCon,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,2369,1286,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,0.089180,19154.399524,76249.621581,107501.385850,NaN,NaN,9.110285,0.146849,0.278835,180.993684,1.037455,22.11415,34.135451
std,0.285045,10875.418447,45095.372690,54728.240086,NaN,NaN,7.596541,0.579524,0.809631,82.769271,1.549777,9.38733,7.951413
min,0.000000,1700.000000,5076.000000,21144.000000,NaN,NaN,0.000000,0.000000,0.000000,0.486711,0.000000,0.00000,0.838118
25%,0.000000,12000.000000,49351.250000,71235.000000,NaN,NaN,3.000000,0.000000,0.000000,118.687903,0.000000,16.00000,29.362596
50%,0.000000,17000.000000,67278.500000,94453.500000,NaN,NaN,7.000000,0.000000,0.000000,176.742048,1.000000,21.00000,35.129484
75%,0.000000,23825.000000,92986.750000,122339.250000,NaN,NaN,13.000000,0.000000,0.000000,230.402191,2.000000,27.00000,39.087624
max,1.000000,89900.000000,399412.000000,512650.000000,NaN,NaN,41.000000,10.000000,10.000000,1168.233561,13.000000,64.00000,144.189001

**Missing Values**

In [61]:
MissingData=file.isnull().sum().rename_axis('Variables').reset_index(name='Missing Values') # the isnull() returns 1 if the value is null
MissingData

   Variables  Missing Values
0        BAD               0
1       LOAN               0
2    MORTDUE               0
3      VALUE               0
4     REASON               0
5        JOB               0
6        YOJ               0
7      DEROG               0
8     DELINQ               0
9      CLAGE               0
10      NINQ               0
11      CLNO               0
12   DEBTINC               0

In [57]:
#dropping rows that have missing data
file.dropna(axis=0, how='any', inplace=True)
file

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
2979,0,16300,34297.0,42629.0,HomeImp,Other,9.0,0.0,0.0,80.489238,2.0,11.0,30.284773
3835,0,20100,20153.0,94279.0,DebtCon,Other,21.0,0.0,0.0,227.182517,2.0,40.0,36.696630
3832,0,20100,74013.0,106578.0,HomeImp,Mgr,13.0,1.0,0.0,164.445811,0.0,27.0,33.916244
3831,0,20100,78915.0,119400.0,DebtCon,Mgr,18.0,0.0,0.0,232.826706,4.0,30.0,36.648680
3826,0,20000,9722.0,173518.0,HomeImp,Mgr,21.0,0.0,0.0,89.211955,2.0,20.0,31.120877
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1317,1,10500,57880.0,66802.0,DebtCon,Other,2.0,0.0,0.0,94.598425,8.0,21.0,45.464766
1329,1,10500,55267.0,65160.0,DebtCon,Other,1.0,0.0,0.0,108.275423,8.0,22.0,47.079285
4348,1,22600,78975.0,103374.0,DebtCon,Mgr,11.0,0.0,0.0,259.319755,1.0,14.0,27.744056
1341,1,10600,61294.0,82646.0,DebtCon,ProfExe,5.0,0.0,4.0,87.859169,2.0,13.0,36.395148
1303,1,10400,42714.0,72322.0,DebtCon,Other,12.0,0.0,0.0,105.074802,6.0,15.0,41.262353

In [59]:
file.shape

(3364, 13)

In [62]:
def Entropie(S):
    S= array(S)
    classes_distinctes = set(S[:, 0])
    classes = list(S[:, 0])
    s = 0
    for c in classes_distinctes:
        p = classes.count(c)/len(classes)
        s += p*log2(p)
    return(-1.0*s)

In [63]:
print(Entropie(file))

0.4337253106573937

In [64]:
def GINI(S):
    S = array(S)
    clonne_des_classes = list(S[:, -1])
    classes = list(set(S[:, -1]))
    k = len(classes)
    s = 0
    for i in range(k):
        pi = clonne_des_classes.count(classes[i]/len(S[:, -1]))
        s += pi**2
    return 1-s

In [65]:
GINI(file)

1

In [53]:
BAD = file.iloc[:,0]
LOAN = file.iloc[:,1]
MORTDUE = file.iloc[:,1]
type(BAD)

pandas.core.series.Series

In [21]:
def Mesure_desorde(S, numero_colon_attribut):
    Bonne_mesure_desorde = + inf
    Bonne_valeur_de_repartition = 0
    S = S.to_numpy()
    classes = list(set(S[:, 0]))
    valeurs_attribut = list(set(S[:, numero_colon_attribut]))
    valeurs_attribut.sort()
    Gauche = []
    Droite = []

    for i in range(len(valeurs_attribut)-1):
        v = valeurs_attribut[i]
        Gauche.clear()
        Droite.clear()
        for e in S:
            val_attribut_pour_e = e[numero_colon_attribut]
            if val_attribut_pour_e <= v:
                Gauche.append(e)
            else:
                Droite.append(e)
        pGau = len(Gauche)/len(S)
        pDr = len(Droite)/len(S)
        mesure = (pGau)*GINI(Gauche)+(pDr)*GINI(Droite)
        if mesure < Bonne_mesure_desordre:
            Bonne_mesure_desordre = mesure
            Bonne_valeur_de_repartition = v
    return(Bonne_mesure_desordre, Bonne_valeur_de_repartition)

In [22]:
def Gain_d_information(S, numero_colon_attribut):
    S = S.to_numpy()
    classes = list(set(S[:, 0]))
    valeurs_attribut = list(set(S[:, numero_colon_attribut]))
    Si = [[]for i in range(len(valeurs_attribut))]
    for e in S:
        e = list(e)
        val_attribut_pour_e = e[numero_colon_attribut]
        numero_sous_ensemble = valeurs_attribut.index(val_attribut_pour_e)
        Si[numero_sous_ensemble].append(e)
    Si = array(Si)
    som = 0
    for sous_ensemble in Si:
        som += (len(sous_ensemble)/len(S))*Entropie(sous_ensemble)
    return(Entropie(S)-som)

In [23]:
print("LOAN :",Gain_d_information(file, 1))
print("MORTDUE :",Gain_d_information(file, 2))
print("REASON :",Gain_d_information(file, 3))
print("JOB :",Gain_d_information(file, 4))
print("YOJ :",Gain_d_information(file, 5))
print("DEROG :",Gain_d_information(file, 6))
print("DELINQ :",Gain_d_information(file, 7))
print("CLAGE :",Gain_d_information(file, 8))
print("NINQ :",Gain_d_information(file, 9))
print("CLNCO :",Gain_d_information(file, 10))
print("DEBTING :",Gain_d_information(file, 11))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  # This is added back by InteractiveShellApp.init_path()

LOAN : 0.13247031605795323
MORTDUE : 0.6599670262166042
REASON : 0.6490620261099311
JOB : 0.0010200707812508814
YOJ : 0.014172286113719235
DEROG : 0.09890515375629483
DELINQ : 0.11308343379194186
CLAGE : 0.12913853183220558
NINQ : 0.6689316114488737
CLNCO : 0.07307049238021024
DEBTING : 0.05943267670920016